
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    double tongTien = 0;
    double donGia = 0;
    double thanhTien = 0;
    var db = new WebApplication30.Models.KinhContext();
}

@if (ViewBag.Err != null)
{
    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
            alert("@ViewBag.Err");
        }
    </script>
}

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Trang Chủ</a>
        <span class="breadcrumb-item active">GIỎ HÀNG</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th style="width:105px;">Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Tổng</th>
                    <th>Thêm</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @{
                    if (Session["ListCTHD"] != null)
                    {
                        var list = Session["ListCTHD"] as List<WebApplication30.Models.ChiTietHoaDon>;
                        foreach (var item in list)
                        {
                            
                            <tr>
                                <td><img style="width: 80px;height: 120px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@item.Kinh.AnhBia"></td>
                                <td><p><a href="/ChiTietMH/Index/@item.KinhId">@item.Kinh.TenKinh</a></p></td>

                                @{ 
                                    donGia = item.DonGia;
                                    if (item.Kinh.KhuyenMaiId != 7 && item.Kinh.KhuyenMai.NgayBD<=DateTime.Now && item.Kinh.KhuyenMai.NgayKT>=DateTime.Now)
                                    {
                                        donGia = donGia - (donGia * ((item.Kinh.KhuyenMai.PhanTram*1.0) / 100));
                                    }
                                    thanhTien = donGia * item.SoLuong;
                                    tongTien = tongTien + thanhTien;
                                }

                                <td>@Math.Round(donGia, MidpointRounding.ToEven) $</td>
                                @using (Html.BeginForm("UpdateSL", "GioHang"))
                                {
                                <td>
                                   
                                        <input type="text" hidden value="@item.MaCTHD" name="idCTHD" />
                                        @*@Html.DropDownList("catID", (SelectList)ViewBag.Values, new { onchange = "this.form.submit();" })*@
                                        <input type="number" required name="sl" value="@item.SoLuong" style="width:50px;" />


                                </td>
                                <td>@Math.Round(thanhTien, MidpointRounding.ToEven) $</td>

                                <td>@Html.ActionLink("Xóa", "DeleteCTHD", "GioHang", new { confirm = true, idCTHD = item.MaCTHD }, new { onclick = "return confirm('bạn có chắc muốn xóa không?')", @class = "btn btn-primary" })
                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                </td>}
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
        @if (Session["ListCTHD"] != null)
        {
            var tk = Session["TaiKhoan"] as WebApplication30.Models.KhachHang;
            double phanTram = 0;
            foreach (var item in db.TichLuys.Where(i => i.Flag == true).OrderByDescending(i => i.Diem).ToList())
            {
                if (tk.DiemTichLuy >= item.Diem)
                {
                    phanTram = item.PhanTram;
                    break;
                }
            }
            <div style="padding:10px; border:1px solid gray;border-radius:5px;float:right;width:400px;">
                <div class="row">
                    <div class="col-6">% KM Điểm Tích Lũy</div>
                    <div class="col-6 text-center">@phanTram%</div>
                </div>
                <div class="row">
                    <div class="col-6">Tổng Tiền</div>
                    <div class="col-6 text-center">@Math.Round(tongTien-(tongTien*((phanTram*1.0)/100)), MidpointRounding.ToEven) $</div>
                </div>
                @*<button onclick="location.href='@Url.Action("Index", "ThanhToan")'" class="btn">Thanh toán</button>*@
                <div class="row mt-3">
                    <div class="col-6"></div>
                    <div class="col-6 text-center">
                        @Html.ActionLink("Thanh Toán", "ThanhToan", "GioHang", new { confirm = true }, new { onclick = "return confirm('Bạn muốn thanh toán ?')", @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</section>

