
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication30.Models.Kinh>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var dao = new WebApplication30.DAO.HomeDAO();
    var db = new WebApplication30.Models.KinhContext();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .country {
        display: none;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Sản Phẩm</span>
    </div>
</div>
@if (Session["CTBrand"] != null)
        {
            var brand = Session["CTBrand"] as WebApplication30.Models.NSX;
    <div style="width:100%;background-color:#f7f4f0;margin-bottom:20px;" class="container-fluid">
        <div  style="width:100%"class="container">
            <div class="row">
                <div class="col-4">
                    <img style="height:265px;width:265px; padding-top:10px;padding-bottom:10px;" src="~/UploadedFiles/@brand.Anh"/>
                </div>
                <div class="col-8">
                    <h2 style="padding-top:40px;padding-bottom:10px;">@brand.TenNSX</h2>
                    <textarea style="border:none;background-color:#f7f4f0;" readonly rows="5" cols="85">@brand.MoTa</textarea>
                </div>
            </div>
        </div>
    </div>
}
@if (Session["CTKhuyenMai"] != null)
{
    var km = Session["CTKhuyenMai"] as WebApplication30.Models.KhuyenMai;
    <div style="width:100%;background-color:#f7f4f0;margin-bottom:20px;" class="container-fluid">
        <div style="width:100%" class="container">
            <div class="row">
                <div class="col-4">
                    <img style="height:265px;width:265px; padding-top:10px;padding-bottom:10px;" src="~/UploadedFiles/@km.AnhKM" />
                </div>
                <div class="col-8">
                    <h2 style="padding-top:40px;padding-bottom:10px;">@km.TenKM</h2>
                    <label>-Phần Trăm Khuyến Mãi: @km.PhanTram%</label><br />
                    <label>-Thời Gian Khuyến Mãi: Từ @km.NgayBD.ToShortDateString() Đến @km.NgayKT.ToShortDateString()</label>
                </div>
            </div>
        </div>
    </div>
}
<section class="static about-sec" style="margin-bottom:-60px;">
    <div class="container">
        <h2>Tìm Kiếm Sản Phẩm</h2>
        <div class="form">
            <form action="~/MoHinhs/Search" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" placeholder="Nhập Tên Sản Phẩm" name="name">
                    </div>
                    <div class="col-md-4">
                        <select name="loai">

                            <option value="All" selected="selected" class="country">Chọn Loại</option>
                            <option value="All">Tất Cả</option>
                            @foreach (var item in db.Loais.Where(i => i.Flag == true).ToList())
                            {
                                <option value="@item.MaLoai">@item.TenLoai</option>
                            }

                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="nsx">

                            <option value="All" selected="selected" class="country">Chọn Nhà Sản Xuất</option>
                            <option value="All">Tất Cả</option>
                            @foreach (var item in db.NSXs.Where(i => i.flag == true).ToList())
                            {
                                <option value="@item.MaNSX">@item.TenNSX</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <input type="number" placeholder="Tiền Min" name="min">

                    </div>
                    <div class="col-md-3">
                        <input type="number" name="max" placeholder="Tiền Max">

                    </div>
                    <div class="col-md-3">

                    </div>

                    @*<div class="col-md-4">
                            <button  type="submit" class="btn black">Reset</button>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <button style="margin-left:40px;" type="submit" class="btn black ">Tìm Kiếm</button>

                    </div>
                    <div class="col-md-3">
                        <button type="button" onclick="location.href='@Url.Action("Reset", "MoHinhs")'" style="margin-left:40px;" class="btn black">Tìm Lại</button>

                    </div>
                    <div class="col-md-3">

                    </div>

                    @*<div class="col-md-4">
                            <button  type="submit" class="btn black">Reset</button>
                        </div>*@
                </div>

            </form>
        </div>
    </div>
</section>
<section class="static about-sec">
    <div class="container">
        @{ 
            var title = Session["Title"] as string;
        }
        <h2></h2>
        <div class="recomended-sec">
            <div class="row">
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-md-3 mt-1 mb-2">
                            <div class="item">
                                <img style="width: 170px;height: 210px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@item.AnhBia" alt="img">
                                <h3><a href="/ChiTietMH/Index/@item.MaKinh">@item.TenKinh</a></h3>
                                @if (@item.KhuyenMaiId != 7 && item.KhuyenMai.NgayKT >= DateTime.Today && item.KhuyenMai.NgayBD <= DateTime.Today)
                                {
                                    <span class="sale">Sale !</span>
                                }
                                <h6><span class="price">Lượt Xem</span> : <a href="#">@item.LuotXem</a></h6>
                                <h6><span class="price">@item.Gia VNĐ</span> / <a href="#">Buy Now</a></h6>
                                <div class="hover">
                                    <a href="/ChiTietMH/Index/@item.MaKinh">
                                        <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>

    </div>

</section>
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>Sản Phẩm Ưa Thích</h2>
            <hr>
        </div>
        <div class="row">
            @{
                foreach (var item1 in dao.GetListBanChay().Take(4).ToList())
                {
                    var item = db.Kinhs.Find(item1.IDMH);
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <img style="width: 225px;height: 250px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@item.AnhBia" alt="img">
                            <h3>@item.TenKinh</h3>
                            <h6><span class="price">@item.Gia VNĐ</span> / <a href="#">Buy Now</a></h6>
                            @if (@item.KhuyenMaiId != 7 && item.KhuyenMai.NgayKT >= DateTime.Today && item.KhuyenMai.NgayBD <= DateTime.Today)
                            {
                                <span class="sale">Sale !</span>
                            }
                            <div class="hover">
                                <a href="/ChiTietMH/Index/@item.MaKinh">
                                    <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>

                }
            }

        </div>
    </div>

</section>





