@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication30.Models.HoaDon>

@{
    ViewBag.Title = "LichSuMuaHang";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
@if (ViewBag.Err != null)
{
    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
        alert(decodeURIComponent("@ViewBag.Err"));
    }
    </script>
}

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="~/Home/Index">Trang chủ</a>
        <span class="breadcrumb-item active">Lịch Sử Mua Hàng</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Lịch Sử Mua Hàng</h1>
        <div class="form">
            <table id="example1" class="table" style="width:100%;">
                <thead class="thead-dark">
                    <tr style="background-color:aliceblue">
                        <th scope="col" style="width:50px;" class="text-center">Mã</th>
                        <th scope="col" style="width:100px;" class="text-center">Tên</th>
                        <th scope="col" style="width:150px;" class="text-center">Địa Chỉ</th>
                        <th scope="col" class="text-center">SĐT</th>
                        <th scope="col" class="text-center">Tổng Tiền</th>
                        <th scope="col" style="width:120px;" class="text-center">Ngày Tạo</th>
                        <th scope="col" class="text-center">Tình Trạng</th>
                        <th scope="col" class="text-center">Thao Tác</th>
                    </tr>
                </thead>

                @if (Model != null)
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.MaHD</td>
                                <td class="text-center">@item.TenNguoiNhan</td>
                                <td class="text-center" style="width:170px;margin-left:auto;margin-right:auto;overflow-y:auto;display:block;">@item.DiaChi</td>
                                <td class="text-center">@item.SDT</td>
                                <td class="text-center">@item.TongTien $</td>
                                <td class="text-center">@item.NgayTao</td>
                                <td class="text-center">@item.TinhTrangDonHang</td>
                                <td class="text-center">
                                    <a href="~/Account/ChiTietLS/@item.MaHD">Xem</a> |
                                    
                                </td>

                            </tr>
                        }
                    </tbody>
                }

            </table>
          @Html.PagedListPager(Model, page => Url.Action("LichSuMuaHang", new { page })) 
        </div>
        
    </div>
</section>


