
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<html>

<head>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    @if (ViewBag.Alert != null)
    {
        <script type="text/javascript" charset="utf-8">
        window.onload = function () {
            alert("@ViewBag.Alert");
        }
        </script>
    }
</head>

<body>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item">
            <a href="#">Tài Khoản Khách Hàng</a>
        </li>
        <!-- Breadcrumb Menu-->

    </ol>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    @if (Session["UpdateKH"] == null)
                    {
                        <form method="post" action="~/Admin/Index" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="tennsx">Username</label>
                                <input required type="email" class="form-control" id="tennsx" name="username" aria-describedby="emailHelp" placeholder="Enter Username">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Họ</label>
                                    <input required type="text" class="form-control" name="ho" id="inputEmail4" placeholder="Nhập Họ">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Tên</label>
                                    <input required type="text" class="form-control" name="ten" id="inputPassword4" placeholder="Nhập Tên">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="exampleInputPassword1">Ngày Sinh</label>
                                    <input required type="date" class="form-control" name="ngaysinh" id="exampleInputPassword1">
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="disabledSelect">Giới Tính</label>
                                        <select name="gioitinh" id="disabledSelect" class="form-control">
                                            <option selected value="0">Nam</option>
                                            <option value="1">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button style="width:100px;" disabled type="submit" class="btn btn-primary">Sửa đổi</button>
                        </form>
                    }
                    else
                    {
                        var kh = Session["UpdateKH"] as WebApplication30.Models.KhachHang;
                        <form method="post" action="~/KhachHang/Index" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="tennsx">Username</label>
                                <input required type="text" style="border:1px solid gray" readonly class="form-control" id="tennsx" name="username" aria-describedby="emailHelp" value="@kh.Username">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Họ</label>
                                    <input required value="@kh.Ho" type="text" class="form-control" name="ho" id="inputEmail4" placeholder="Nhập Họ">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Tên</label>
                                    <input required type="text" value="@kh.Ten" class="form-control" name="ten" id="inputPassword4" placeholder="Nhập Tên">
                                </div>
                            </div>

                            @{
                                string dateValue = kh.NgaySinh.Year + "-" + kh.NgaySinh.Month + "-" + kh.NgaySinh.Day;
                                if (kh.NgaySinh.Month < 10 && kh.NgaySinh.Day >= 10)
                                {
                                    dateValue = kh.NgaySinh.Year + "-0" + kh.NgaySinh.Month + "-" + kh.NgaySinh.Day;

                                }
                                else if (kh.NgaySinh.Day < 10 && kh.NgaySinh.Month >= 10)
                                {
                                    dateValue = kh.NgaySinh.Year + "-" + kh.NgaySinh.Month + "-0" + kh.NgaySinh.Day;
                                }
                                else if (kh.NgaySinh.Month < 10 && kh.NgaySinh.Day < 10)
                                {
                                    dateValue = kh.NgaySinh.Year + "-0" + kh.NgaySinh.Month + "-0" + kh.NgaySinh.Day;
                                }
                            }

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="exampleInputPassword1">Ngày Sinh</label>
                                    <input required type="date" value="@dateValue" class="form-control" name="ngaysinh" id="exampleInputPassword1">
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="disabledSelect">Giới Tính</label>
                                        <select name="gioitinh" id="disabledSelect" class="form-control">
                                            @if (kh.GioiTinh == true)
                                            {
                                                <option selected value="0">Nam</option>
                                                <option value="1">Nữ</option>
                                            }
                                            else
                                            {
                                                <option value="0">Nam</option>
                                                <option selected value="1">Nữ</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button style="width:100px;" type="submit" class="btn btn-primary">Sửa đổi</button>
                        </form>
                                }
                </div>
                <div class="col-6">
                    <form method="post" action="~/KhachHang/TimKiem">

                        <div class="form-group">
                            <label for="tennsx">Username</label>
                            <input type="text" class="form-control" id="tennsx" name="username" aria-describedby="emailHelp" placeholder="Enter Username">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Họ</label>
                                <input type="text" class="form-control" name="ho" id="inputEmail4" placeholder="Nhập Họ">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Tên</label>
                                <input type="text" class="form-control" name="ten" id="inputPassword4" placeholder="Nhập Tên">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="disabledSelect">Tình Trạng Tài Khoản</label>
                                    <select name="tinhtrang" id="disabledSelect" class="form-control">
                                        <option selected value="Unblock">Không Khóa</option>
                                        <option value="Block">Khóa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="ss">So Sánh</label>
                                        <select name="ss" id="ss" class="form-control">
                                            <option selected value="=">=</option>
                                            <option value=">">></option>
                                            <option value="<"><</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label for="diem">Điểm Tích Lũy</label>
                                        <input type="number" class="form-control" name="diem" id="diem" placeholder="Nhập Điểm">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button style="width:100px;" type="submit" class="btn btn-primary">Tìm Kiếm</button>
                        <button style="width:100px;" class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Reset", "KhachHang")'">
                            Reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <table id="example1" class="table" style="width:100%;">
                <thead class="thead-dark">
                    <tr style="background-color:aliceblue">
                        <th scope="col" style="width:100px;" class="text-center">Username</th>
                        <th scope="col" class="text-center">Họ</th>
                        <th class="text-center">Tên</th>
                        <th scope="col" class="text-center">Ngày Sinh</th>
                        <th scope="col" class="text-center">Giới Tính</th>
                        <th scope="col" class="text-center">Điểm</th>
                        <th scope="col" class="text-center">Thao Tác</th>
                    </tr>
                </thead>

                @{
                    var list = Session["ListKH"] as List<WebApplication30.Models.KhachHang>;
                }
                @if (list != null)
                {
                    <tbody>
                        @foreach (var item in list)
                        {
                            <tr>
                                <td class="text-center">@item.Username</td>
                                <td class="text-center">@item.Ho</td>
                                <td class="text-center">@item.Ten</td>
                                <td class="text-center">@item.NgaySinh.ToShortDateString()</td>
                                @if (item.GioiTinh == true)
                                {
                                    <td class="text-center">Nam</td>
                                }
                                else
                                {
                                    <td class="text-center">Nữ</td>
                                }
                                <td class="text-center">@item.DiemTichLuy</td>
                                <td class="text-center">
                                    @Html.ActionLink("Xem", "Update", "KhachHang", new { idKH = item.MaKH }, new { })&nbsp;
                                    @Html.ActionLink("Khóa", "Block", "KhachHang", new { confirm = true, idKH = item.MaKH }, new { onclick = "return confirm('Do you want to delete this shit?')" })
                                </td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>

        <div class="container mt-5">
            <table id="example" class="table" style="width:100%;">
                <thead class="thead-dark">
                    <tr style="background-color:aliceblue">
                        <th scope="col" style="width:100px;" class="text-center">Username</th>
                        <th scope="col" class="text-center">Họ</th>
                        <th class="text-center">Tên</th>
                        <th scope="col" class="text-center">Ngày Sinh</th>
                        <th scope="col" class="text-center">Giới Tính</th>
                        <th scope="col" class="text-center">Điểm</th>
                        <th scope="col" class="text-center">Thao Tác</th>
                    </tr>
                </thead>

                @{
                    var listBlock = Session["ListKHBlock"] as List<WebApplication30.Models.KhachHang>;
                }
                @if (listBlock != null)
                {
                    <tbody>
                        @foreach (var item in listBlock)
                        {
                            <tr>
                                <td class="text-center">@item.Username</td>
                                <td class="text-center">@item.Ho</td>
                                <td class="text-center">@item.Ten</td>
                                <td class="text-center">@item.NgaySinh.ToShortDateString()</td>
                                @if (item.GioiTinh == true)
                                {
                                    <td class="text-center">Nam</td>
                                }
                                else
                                {
                                    <td class="text-center">Nữ</td>
                                }
                                <td class="text-center">@item.DiemTichLuy</td>
                                <td class="text-center">
                                    @Html.ActionLink("Mở Khóa", "UnBlock", "KhachHang", new { confirm = true, idKH = item.MaKH }, new { onclick = "return confirm('Do you want to unblock this shit?')" })
                                </td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>
    </div>



</body>
</html>

