@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication30.Models.DanhGia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
@if (ViewBag.Err != null)
{
    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
        alert("@ViewBag.Err");
    }
    </script>
}
@if (ViewBag.Roll != null)
{
    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
            window.scrollTo(0, 1150);
        }
    </script>
}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="~/Home/Index">Trang chủ</a>
        <span class="breadcrumb-item active">Sản Phẩm</span>
    </div>
</div>
<section class="product-sec">
    @{
        var mh = Session["CTMoHinh"] as WebApplication30.Models.Kinh;
        <div class="container">
            <h1>@mh.TenKinh</h1>
            <div class="row">
                <div class="col-md-6 slider-sec">
                    <!-- main slider carousel -->
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img style="width: 350px;height: 460px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@mh.AnhBia" class="img-fluid">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img style="width: 350px;height: 460px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@mh.Anh1" class="img-fluid">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img style="width: 350px;height: 460px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@mh.Anh2" class="img-fluid">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        @if (mh.Loai.TenLoai != "Dụng Cụ")
                        {
                        <ul class="carousel-indicators list-inline">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                    <img style="width: 115px;height: 145px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@mh.AnhBia" class="img-fluid">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                    <img style="width: 115px;height: 145px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@mh.Anh1" class="img-fluid">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                    <img style="width: 115px;height: 145px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@mh.Anh2" class="img-fluid">
                                </a>
                            </li>
                        </ul>}
                    </div>
                    <!--/main slider carousel-->
                </div>
                <div class="col-md-6 slider-content">
                    <p>Mô Tả</p>
                    <textarea readonly rows="4" cols="80">
                        @mh.MoTa
                    </textarea>
                    <ul>

                        @if (mh.KhuyenMaiId != 7 && mh.KhuyenMai.NgayKT >= DateTime.Now && mh.KhuyenMai.NgayBD <= DateTime.Now)
                        {
                            <li>
                                <span class="name">Giá:</span><span class="clm">:</span>
                                <span class="price">@mh.Gia $</span>
                            </li>

                            double phantram = mh.KhuyenMai.PhanTram / 100;
                            double tienKhuyenMai = mh.Gia - (mh.Gia * phantram);
                            double tienTK = mh.Gia - tienKhuyenMai;

                            <li>
                                <span class="name">Giá Khuyến Mãi</span><span class="clm">:</span>
                                <span class="price final">@Math.Round(tienKhuyenMai, MidpointRounding.ToEven) $</span>
                            </li>
                            <li><span class="save-cost">Save @Math.Round(tienTK, MidpointRounding.ToEven) $ (@mh.KhuyenMai.PhanTram%)</span></li>
                        }
                        else
                        {
                            <li>
                                <span class="name">Giá:</span><span class="clm">:</span>
                                <span class="price final">@mh.Gia $</span>
                            </li>
                        }
                        @if (mh.SoLuong > 0)
                        {
                            <li>
                                <span class="name">Tình Trạng</span><span class="clm">:</span>
                                <span class="price final">Còn hàng</span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <span class="name">Tình Trạng</span><span class="clm">:</span>
                                <span class="price final">Hết hàng</span>
                            </li>
                        }
                    </ul>
                    @if (mh.SoLuong > 0)
                    {
                        <div class="btn-sec">
                            <button onclick="location.href='@Url.Action("ThemGioHang", "ChiTietMH", new { idMH = mh.MaKinh })'" class="btn">Thêm vào giỏ hàng</button>
                            <button onclick="location.href='@Url.Action("MuaNgay", "ChiTietMH", new { idMH = mh.MaKinh })'" class="btn black">Mua ngay</button>
                        </div>}
                    else
                    {
                        <div class="btn-sec">
                            <button disabled class="btn ">Thêm vào giỏ hàng</button>
                            <button disabled class="btn black">Mua ngay</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="container mt-8">
            <h4 class="mt-5 mb-2">Thông Tin Chi Tiết</h4>
            <div class="row">
                <div class="col-md-8">
                    <table style="border:1px solid #e3e1e1" class="table table-striped">
                        @*<tr>
                            <th>ID</th>
                            <td>@mh.MaKinh</td>
                        </tr>*@
                        <tr>
                            <th>Tên Nhà Sản Xuất</th>
                            <td>@mh.NSX.TenNSX</td>
                        </tr>
                        <tr>
                            <th>Loại</th>
                            <td>@mh.Loai.TenLoai</td>
                        </tr>
                        <tr>
                            <th>Ngày Bán</th>
                            <td>@mh.NgayXB.ToShortDateString()</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <div class="container mt-8">
            <h4 class="mt-5 mb-2">Đánh Giá</h4>
            @if (Session["TaiKhoan"] == null)
            {
                <div class="row">
                    <div style="background-color:#bdc5b3;padding-top:10px;padding-bottom:10px;box-shadow: 10px 10px 5px grey;" class="col-8">
                        <p><a href="~/DangNhap/Index">Đăng nhập</a> để có thể để lại đánh giá cho sản phẩm này</p>
                    </div>
                </div>
               
                @*<div style="border:1px solid black;" class="row">
                        <p><a href="~/DangNhap/Index">Đăng nhập</a> để có thể để lại đánh giá cho sản phẩm này</p>
                    </div>*@}
            else
            {
                <div class="row">
                    <div style="padding-top:10px;padding-bottom:10px; background-color:#bdc5b3;box-shadow: 10px 10px 5px grey;" class="col-8">
                        @{
                            var tk = Session["TaiKhoan"] as WebApplication30.Models.KhachHang;
                        }

                        <h5 class="mb-2">@tk.Ten @tk.Ho</h5>
                    
                            <form method="post" action="~/ChiTietMH/DanhGiaMH" enctype="multipart/form-data">
                                <input readonly value="@mh.MaKinh" hidden type="text" name="id" />
                                <textarea rows="5" cols="88" name="danhgia" required></textarea>
                                <button type="submit" class="btn btn-primary">Đánh Giá</button>
                            </form>
                        



                    </div>
                    <div class="col-4"></div>
                </div>




                            }
            @{
                var db = new WebApplication30.Models.KinhContext();

                foreach (var item in Model)
                {

                    <div class="row mt-3">
                        <div style="padding-top:10px;padding-bottom:10px; background-color:#bdc5b3;box-shadow: 10px 10px 5px grey;" class="col-8">
                            @{var tk1 = db.KhachHangs.Find(item.KHId);

                            }

                            <h5 class="mb-2">@tk1.Ho @tk1.Ten <small>Đánh giá vào lúc @item.Ngay </small> </h5>
                            <form method="post" action="~/ChiTietMH/DanhGia" enctype="multipart/form-data">
                                <textarea readonly rows="5" cols="88" name="danhgia" required>@item.BinhLuan</textarea>
                            </form>
                        </div>
                        <div class="col-4"></div>
                    </div>
                                }
                                <div id="Page">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, id = mh.MaKinh }))
                                </div>
                               
            }
        </div>


    }
</section>
<section class="related-books">
    <div class="container">
        @*<h2>You may also like these Models</h2>*@
        <div class="recomended-sec">
            <div class="row">
                @{
                    var home = new WebApplication30.DAO.HomeDAO();
                    foreach (var item in home.GetListTop4(mh.LoaiId,mh.NSXId,mh.MaKinh))
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="item">
                                <img style="width: 170px;height: 210px;display: block;margin-left: auto; margin-right: auto;" src="~/UploadedFiles/@item.AnhBia" alt="img">
                                <h3>@item.TenKinh</h3>
                                <h6><span class="price">@item.Gia $</span> / <a href="#">Mua ngay</a></h6>
                                @if (@item.KhuyenMaiId != 7 && item.KhuyenMai.NgayKT >= DateTime.Today && item.KhuyenMai.NgayBD <= DateTime.Today)
                                {
                                    <span class="sale">Sale !</span>
                                }
                                <div class="hover">
                                    <a href="~/ChiTietMH/Index/@item.MaKinh">
                                        <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </div>
</section>


